.banner{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: var(--unnamed-color-333333) 0% 0% no-repeat padding-box;
    background: #333333 0% 0% no-repeat padding-box;
    opacity: 1;
    
}
.banner_title{
    top: 11px;
    left: 94px;
    width: 154px;
    height: 17px;
    font: var(--unnamed-font-style-normal) normal normal 12px/17px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-f2f2f2);
    text-align: left;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
    position: absolute;
}
.banner_title2{
    top: 11px;
    left: 306px;
    width: 158px;
    height: 17px;
    font: var(--unnamed-font-style-normal) normal normal 12px/17px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-f2f2f2);
    text-align: left;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
    position: absolute;
}
.banner_title3{
    top: 11px;
    left: 521px;
    width: 131px;
    height: 17px;
    font: var(--unnamed-font-style-normal) normal normal 12px/17px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-f2f2f2);
    text-align: left;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
    position: absolute;
}
.banner_title4{
    top: 11px;
    left: 1100px;
    width: 192px;
    height: 118px;
    font: var(--unnamed-font-style-normal) normal normal 13px/18px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-f2f2f2);
    text-align: center;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
}
.banner_title5{
    top: 10px;
    left: 1271px;
    width: 192px;
    height: 118px;
    background: transparent 0% 0% no-repeat padding-box;
    color: #F2F2F2;
    opacity: 1;
    position: absolute;
}
.cabecera{
    top: 40px;
    left: -1px;
    width: 100%;
    height: 120px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.logo{
    top: 72px;
    left: 62px;
    width: 393px;
    height: 59px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.cabecera_title{
    top: 108px;
    left: 761px;
    width: 86px;
    height: 22px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.cabecera__text{
    color:#000;
    text-decoration: none;
}
.cabecera__text:focus{
    color:red;
}
.cabecera__text:hover{
    color:red;
}
.cabecera_title1{
    top: 108px;
    left: 867px;
    width: 96px;
    height: 22px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.cabecera_title2{
    top: 108px;
    left: 983px;
    width: 190px;
    height: 22px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.cabecera_title3{
    top: 108px;
    left: 1192px;
    width: 85px;
    height: 22px;
    background: transparent 0% 0% no-repeat padding-box;
    position: absolute;
}
.cabecera_title4{
    top: 112px;
    left: 1291px;
    width: 14px;
    height: 13px;
    border: 0.4px solid var(--unnamed-color-c1282d);
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.cabecera_titleloge{
    top: 108px;
    left: 761px;
    width: 86px;
    height: 22px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.cabecera_titleloge1{
    top: 108px;
    left: 867px;
    width: 96px;
    height: 22px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.cabecera_titleloge2{
    top: 108px;
    left: 950px;
    width: 190px;
    height: 22px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.cabecera_titleloge3{
    top: 108px;
    left: 1030px;
    width: 300px;
    height: 22px;
    background: transparent 0% 0% no-repeat padding-box;
    position: absolute;
}
.cabecera_titleloge4{
    top: 108px;
    left: 1220px;
    width: 14px;
    height: 13px;
    border: 0.4px solid var(--unnamed-color-c1282d);
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.cabecera_titleloge5{
    top: 112px;
    left: 1300px;
    width: 14px;
    height: 13px;
    border: 0.4px solid var(--unnamed-color-c1282d);
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.carrusel{
    top: 160px;
    left: 0px;
    width: 100%;
    height: 60%;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.carrusel_img{
    position: absolute;
    width: 100%;
    height: 430px;
}
.carrusel_title{
    top: 40px;
    left: 62px;
    width: 620px;
    height: 106px;
    font: var(--unnamed-font-style-normal) normal bold 56px/76px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-f2f2f2);
    text-align: left;
    font: normal normal bold 56px/76px Open Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
}
.carrusel_sudtitle{
    top: 120px;
    left: 62px;
    width: 350px;
    height: 56px;
    font-weight: normal;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-f2f2f2);
    text-align: left;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
    position: absolute;
}
.filtros{
    width: 288px;
    height: 240px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;  
}
.card_title{
    top: 245px;
    left: 80px;
    width: 120px;
    height: 27px;
    font: var(--unnamed-font-style-normal) normal bold 20px/20px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    text-align: center;
    font: normal normal bold 20px/20px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
 
}
.malla{
    margin-top: -16.7%;
    margin-left: 25%;
    width: 288px;
    height: 241px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    
}
.zarandas{
    margin: -16.8% 50%;
    width: 288px;
    height: 240px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
.tamices{
    margin: -16.7% 75%;
    width: 288px;
    height: 241px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
.cuerpo{
    top: 125%;
    left: 37%;
    width:62%;
    height: 351px;
    background: var(--unnamed-color-fff) 0% 0% no-repeat padding-box;
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    position: absolute;    
}
.cuerpo_title{
    top: 20%;
    margin-left: 12%;
    width: 300px;
    height: 60px;
    font: var(--unnamed-font-style-normal) normal bold 30px/36px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    font: normal normal bold 30px/36px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
}
.cuerpo_sudtitle{
    top: 40%;
    margin-left: 12%;
    width: 52%;
    height: 100px;
    font: var(--unnamed-font-style-normal) normal 300 20px/31px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    font: normal normal 300 20px/31px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    text-transform: lowercase;
    opacity: 1;
    position: absolute;
}
.flt{
    top: 120%;
    left: 0%;
    width: 40%;
    height: 450px;
    background: var(--unnamed-color-fff) 0% 0% no-repeat padding-box;
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    position: absolute;
}
.flt_img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.cards{
    margin-top: 1%;
    width: 100%;
    height:30%;
    position: absolute;
    top: 60%;
}
.flt__btn{
    position:absolute;
    top: 300px;
    left: 150px;
    width: 187px;
    height: 35px;
    background: var(--unnamed-color-c1282d) 0% 0% no-repeat padding-box;
    background: #C1282D 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal bold 13px/18px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal bold 13px/18px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer{
    width: 100%;
    margin-top: 100%;
    position: absolute;
    //bottom:0%;
    
}
.footer--products{
    margin-top: 35%;
    width: 100%;
    height:30%;
}
.footer_container {
    width: 25%;
    height: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    
}
.footer_container2 {
    width: 75%;
    height: 200px;
    background: var(--unnamed-color-333333) 0% 0% no-repeat padding-box;
    background: #333333 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    
    left: 25%;
}
.footer__logo{
    top: 50px;
    left: 120px;
    width: 121px;
    height: 100px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.footer__cont{
    margin: 50% 7%;
    width: 22%;
    height: 10px;
    font: var(--unnamed-font-style-normal) normal bold 15px/36px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-c1282d);
    text-align: left;
    font: normal normal bold 15px/36px Open Sans;
    letter-spacing: 0px;
    color: #C1282D;
}
.footer__cont1{
    top: 1637px;
    margin-left: 17%;
    width: 20px;
    height: 20px;
    font: var(--unnamed-font-style-normal) normal bold 15px/36px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-c1282d);
    text-align: left;
    font: normal normal bold 15px/36px Open Sans;
    letter-spacing: 0px;
    color: #C1282D;
    opacity: 1;
}
.footer__cont2{
    top: 1637px;
    margin-left: 10%;
    width: 18%;
    height: 20px;
    font: var(--unnamed-font-style-normal) normal bold 15px/36px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-c1282d);
    text-align: left;
    font: normal normal bold 15px/36px Open Sans;
    letter-spacing: 0px;
    color: #C1282D;
}
.footer__nosotros{
    position: absolute;top: 100px;
    left: 70px;
    width: 84px;
    height: 44px;
    font: var(--unnamed-font-style-normal) normal normal 14px/25px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 14px/25px Open Sans;
    letter-spacing: 0px;
    color: #F9F9F9;
    opacity: 0.75;
}
.footer__solicitar{
    position: absolute; top: 100px;
    left: 210px;
    width: 227px;
    height: 44px;
    font: var(--unnamed-font-style-normal) normal normal 14px/25px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 14px/25px Open Sans;
    letter-spacing: 0px;
    color: #F9F9F9;  
    opacity: 0.75;
}
.footer__btn{
    top: 100px;
    position:absolute;
    left: 660px;
    width: 59px;
    height: 45px;
    background:#c1282d 0% 0% no-repeat padding-box;
    border-radius: 22px;
    opacity: 1;
}
.footer__input{
    position: absolute;top: 100px;
    left: 420px;
    width: 288px;
    height: 45px;
    background: #fff;
    border-radius: 22px;
    opacity: 0.95;
}
.footer__contacto{
    position: absolute;
    left: 70%;
    width: 25%;
    height: 50%;
    top: 38%;
}
.footer__contacto--title{
    position: absolute;
    top: 10px;
    left: 40px;
    width: 179px;
    height: 19px;
    font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #fff;
    opacity: 0.75;
}
.footer__contacto--title1{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 179px;
    height: 19px;
    font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #fff;
    opacity: 0.75;
}
.footer__contacto--title2{
    position: absolute;
    top: 70px;
    left: 40px;
    width: 179px;
    height: 19px;
    font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #fff;
    opacity: 0.75;
}
.footer__logo--location{
    position: absolute; 
    top: 12px;
    left: 16px;
    width: 15px;
    height: 18px;
    color:#c1282d;
    opacity: 1;
}
.footer__logo--envelope{
    position: absolute; 
    top: 42px;
    left: 16px;
    width: 15px;
    height: 18px;
    color:#c1282d;
    opacity: 1;
}
.footer__logo--phone{
    position: absolute; 
    top: 72px;
    left: 16px;
    width: 15px;
    height: 18px;
    color:#c1282d;
    opacity: 1;
}
.nosotros{
    top: 800px;
    left: 66px;
    width: 602px;
    height: 440px;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position:absolute;
}
.nosotros__title{
    top: 22px;
    left: 0px;
    width: 584px;
    height: 20px;
    font: var(--unnamed-font-style-normal) normal normal 20px/25px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 20px/25px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    text-transform: lowercase;
}
.nosotros__title1{
    top: 150px;
    left: 0px;
    width: 515px;
    height: 20px;
    font: var(--unnamed-font-style-normal) normal normal 20px/25px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 20px/25px Open Sans;
    letter-spacing: 0px;
    color: #000000;
}
.nosotros__title2{
    top: 300px;
    left: 0px;
    width: 547px;
    height: 20px;
    font: var(--unnamed-font-style-normal) normal normal 15px/22px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 20px/25px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    
}
.nosotros__img{
    top: 700px;
    left: 660px;
    width: 750px;
    height: 500px;
    background:0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.nosotros__btnrigth{
    position: absolute;
    top: 440px;
    left: 690px;
    width: 53px;
    height: 53px;
    background: #fff;
    color:#000;
    opacity: 1;
}
.nosotros__btnleft{
    position: absolute;
    top: 440px;
    left: 640px;
    width: 53px;
    height: 53px;
    background: #fff;
    color:#000;
    opacity: 1;
}
.products__menu{
    left: 60px;
    width: 15%;
    height: 52px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    text-align: left;
    letter-spacing: 0px;
    color: #333333;
}
.products__card{
    top: 260px;
    left: 60px;
    width: 1366px;
    height: 463px;
    background: var(--unnamed-color-f2f2f2) 0% 0% no-repeat padding-box;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.request{
    top: 160px;
    left: -1px;
    width: 1367px;
    height: 39px;
    background: var(--unnamed-color-f2f2f2) 0% 0% no-repeat padding-box;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    opacity: 0.72;
    position: absolute;
}
.request__menu{
    top: 7px;
    left: 62px;
    width: 235px;
    height: 22px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    text-align: left;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    position: absolute;
}
.request__cuerpo{
    top:27.2%;
    width:100%;
    height:68%;
    position:absolute;
    background:#FFF;
}
.request__icon{
    position: absolute;
    top: 3%;
    left: 4%;
    width: 33px;
    height: 34px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;font-size: 30px; color:red;
}
.request__title{
    top: 4%;
    left: 7%;
    width: 15%;
    height: 14%;
    font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-18)/22px var(--unnamed-font-family-open-sans);
    color: var(--unnamed-color-333333);
    text-align: left;
    font: normal normal bold 18px/22px Open Sans;
    letter-spacing: 0.27px;
    color: #333333;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
}
.request__cuerpo__datosperso{
    width:92%; 
    height:40%;
    top:12%; 
    position: absolute;
    left:7%;
}
.request__imputnombre{
    top: 0%;
    left: 0%;
    width: 606px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 11px #8282821A;
    border: 1px solid #BF2A32;
    border-radius: 8px;
    position: absolute;
    opacity: 1;
}
.request__imputcorreo{
    top: 0%;
    left: 50%;
    position:absolute;
    width: 606px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 11px #8282821A;
    border: 1px solid #BF2A32;
    border-radius: 8px;
    opacity: 1;
}
.request__imputdatosadi{
    top: 40%;
    position:absolute;
    left:0%;
    width: 606px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 11px #8282821A;
    border: 1px solid #BF2A32;
    border-radius: 8px;
    opacity: 1;
}
.request__imputempresa{
    top: 40%;
    position:absolute;
    left:50%;
    width: 606px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 11px #8282821A;
    border: 1px solid #BF2A32;
    border-radius: 8px;
    opacity: 1
}
.request__iconcosulta{
    position: absolute; top: 44%;
    left: 4%;
    width: 33px;
    height: 34px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;font-size: 30px; color:red;
}
.request__titleconsultas{
    top: 45%;
    left: 7%;
    width: 15%;
    height: 14%;
    font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-18)/22px var(--unnamed-font-family-open-sans);
    color: var(--unnamed-color-333333);
    text-align: left;
    font: normal normal bold 18px/22px Open Sans;
    letter-spacing: 0.27px;
    color: #333333;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;

}
.request__cuerpo__consulta{
    width:92%;
    height:40%;
    top:52%; 
    position:absolute; 
    left:7%;
}
.request__selectproduct{
    top: 5%;
    left: 0%;
    width: 606px;
    height: 50px;
    border: 1px solid var(--unnamed-color-666666);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #666666;
    border-radius: 8px;
    opacity: 0.5;
    position: absolute;
}
.request__file{
    top: 4%;
    left:50%;
    width: 604px;
    height: 50px;
    border: 1px solid var(--unnamed-color-666666);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #666666;
    border-radius: 8px;
    position: absolute;
    opacity: 0.5;
}
.request__text__datosadi{
    top: 40%;
    left:0%;
    width: 604px;
    height: 70%;
    border: 1px solid var(--unnamed-color-666666);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #666666;
    border-radius: 8px;
    position: absolute;
    opacity: 0.5;
}
.request__btnsend{
    top: 70%;
    left: 1078px;
    width: 216px;
    height: 35px;
    background: var(--unnamed-color-c1282d) 0% 0% no-repeat padding-box;
    background: #C1282D 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    position: absolute;
}
.request__textbtn{
    top: 716px;
    left: 1129px;
    width: 114px;
    height: 18px;
    font: var(--unnamed-font-style-normal) normal bold 13px/18px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal bold 13px/18px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.contact__map{
    position:absolute;
    background:#000;
    width:100%;
    height:37%;
    top:27%
}
.contact__redes{
    position: absolute;
    width:30%;
    height:15%;
    top:65%;
}
.contact__cuerpo{
    position: absolute;
    width:69%;
    height:50%;
    top:65%;
    left:30%
}
.contact__imputname{
    top: 0%;
    left: 0%;
    width: 40%;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 11px #8282821A;
    border: 1px solid #BF2A32;
    border-radius: 8px;
    position: absolute;
    opacity: 1
}

.contact__imputape{
    top: 0%;
    left: 50%;
    width: 40%;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 11px #8282821A;
    border: 1px solid #BF2A32;
    border-radius: 8px;
    position: absolute;
    opacity: 1;
}
.contact__imputmail{
    top: 20%;
    left: 0%;
    width: 40%;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 11px #8282821A;
    border: 1px solid #BF2A32;
    border-radius: 8px;
    position: absolute;
    opacity: 1;
}
.contact__imputempresa{
    top: 20%;
    left: 50%;
    width: 40%;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 11px #8282821A;
    border: 1px solid #BF2A32;
    border-radius: 8px;
    position: absolute;
    opacity: 1;
}
.contact__texmsj{
    top: 40%;
    left: 0%;
    width: 40%;
    height: 35%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 8px;   
    position: absolute;
}
.contact__btn{
    top: 80%;
    left: 10%;
    width: 182px;
    height: 35px;
    background: var(--unnamed-color-c1282d) 0% 0% no-repeat padding-box;
    background: #C1282D 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    color:#FFF;
    position: absolute;
}
.contact__terminos{
    top: 41%;
    left: 50%;
    width: 314px;
    height: 19px;
    font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
    position: absolute;
}
.contact__capcha{
    border: solid; 
    position: absolute;
    width:30%; 
    height:20%; 
    top:52%; 
    left:50%;
}
.orders__cuerpo{
    top: 27%;
    left: 0%;
    width: 100%;
    height: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.orders__title{
    top: 15%;
    left: 4%;
    width: 30%;
    height: 10%;
    font: var(--unnamed-font-style-normal) normal normal 25px/34px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    text-align: left;
    font: normal normal normal 25px/34px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
}
.orders__table{
    position: absolute; 
    top:35%; 
    left:4%; 
    width:90%; 
    height:50%;
}
.orders__stadpedido{
    top: 328px;
    left: 585px;
    width: 12%;
    height: 20px;
    font: var(--unnamed-font-style-normal) normal bold 15px/20px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-c1282d);
    text-align: left;
    font: normal normal bold 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #C1282D;
    opacity: 1;
}
.orders__btn{
    top: 367px;
    left: 1145px;
    width: 53%;
    height: 35px;
    border: 1px solid var(--unnamed-color-c1282d);
    border: 1px solid #C1282D;
    border-radius: 30px;
    background:#fff;
    opacity: 1;
}
.orders__btn:hover {
    background:#C1282D;
    color: #FFF;
  }
.ordersh__btn{
    top: 367px;
    left: 1145px;
    width: 28%;
    height: 35px;
    border: 1px solid var(--unnamed-color-c1282d);
    border: 1px solid #C1282D;
    border-radius: 30px;
    background:#fff;
    opacity: 1;
}
.ordersh__btn:hover {
    background:#C1282D;
    color: #FFF;
  }
.ordersh__btnreload{
    top: 367px;
    margin-left: 7%;
    width: 30%;
    height: 35px;
    border: 1px solid var(--unnamed-color-c1282d);
    border: 1px solid #FFF;
    border-radius: 30px;
    background:#c1282d;
    color:#FFF;
    opacity: 1;
}
.ordersh__btnreload:hover {
    background:#FFF;
    border: 1px solid #C1282D;
    color: #C1282D;
}
.quality__body{
    position: absolute;
    width:100%;
    height:69%; 
    top:27%; 
    background: #fff;
}
.quality__cuerpo{
    position: absolute; 
    width:50%;
    height:50%; 
    top:2%;
}
.quality__title{
    top: 2%;
    left: 8%;
    width: 60%;
    height: 20%;
    font: var(--unnamed-font-style-normal) normal normal 25px/34px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    text-align: left;
    font: normal normal normal 25px/34px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
}
.quality__parrafo{
    top: 25%;
    left: 8%;
    width: 608px;
    height: 24px;
    font: var(--unnamed-font-style-normal) normal normal var(--unnamed-font-size-18)/20px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    text-align: left;
    font: normal normal normal 18px/20px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    position: absolute;
}
.quality__sudparrafo{
    top: 35%;
    left: 8%;
    width: 462px;
    height: 20px;
    font: var(--unnamed-font-style-normal) normal normal 15px/20px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    text-align: left;
    font: normal normal normal 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    position: absolute;
}
.quality__imput{
    top: 55%;
    left: 8%;
    width: 70%;
    height: 15%;
    background: var(--unnamed-color-f2f2f2) 0% 0% no-repeat padding-box;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    position: absolute;
}
.quality__btn{
    top: 80%;
    left: 62px;
    width: 212px;
    height: 35px;
    background: var(--unnamed-color-c1282d) 0% 0% no-repeat padding-box;
    background: #C1282D 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    color:#FFF;
    position: absolute;
}
.quality__lineseparate{
    position: absolute;
    top: 55%;
    left: 4%;
    width: 42%;
    height: 0%;
    border: 1px solid #707070;
    opacity: 0.3;
}
.quality__titlesepa{
    top: 60%;
    left: 4%;
    width: 559px;
    height: 20px;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    color: #000;
    position: absolute;
}
.quality__cuerpoimg{
    position: absolute; 
    width:45%;
    height:75%; 
    top:2%; 
    left:50%;
}
//css pestañas
.tab {
    border: solid; width:30%; height:100%;
}

/* Style the buttons inside the tab */
.tablinks {
    margin:2%;
    left:1%;
    width: 20%;
    height: 30px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal normal 25px/20px var(--unnamed-font-family-open-sans);
    font: normal normal normal 25px/20px Open Sans;
    position:absolute
}
.tablinks1 {
    margin:2% ;
    left: 40%;
    width: 80px;
    height: 30px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal normal 25px/20px var(--unnamed-font-family-open-sans);
    font: normal normal normal 25px/20px Open Sans;
    position:absolute
}
.tablinks2 {
    margin:2%;
    left: 60%;
    width: 80px;
    height: 30px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal normal 25px/20px var(--unnamed-font-family-open-sans);
    font: normal normal normal 25px/20px Open Sans;
    position:absolute
}
.tablinks3 {
    margin:2%;
    left: 80%;
    width: 80px;
    height: 30px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal normal 25px/20px var(--unnamed-font-family-open-sans);
    font: normal normal normal 25px/20px Open Sans;
    position:absolute
}

/* Change background color of buttons on hover */
.tablinks:hover {
  color: #c1282d;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  left: 4%;
  width: 60%;
  height: 90%;
  top:3%;
  position: absolute;
}
.shopping__cuerpo{
    position:absolute; 
    width:100%;
    height:100%;
    background:#FFF;
    top:0.5%;
}
.shopping__cuerpomenu{
    top: 3%;
    left: 4%;
    width: 88%;
    height: 7%;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000021;
    opacity: 1;
    position: absolute;
}
.shopping__sudcuerpo{
    top: 10%;
    left: 0%;
    width: 100%;
    height: 95%;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000021;
    opacity: 1;
    position: absolute;
}
.shopping__select{
    top: 5%;
    left:52%;
    width: 86px;
    height: 28px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #A2A2A2;
    opacity: 1;
    text-align: center; position: absolute;
}
.shp{
    width: 20%;
}
.shp__rsmcom{
    position: absolute;
    left:107%;
    width:40%;
    height:100%;
    top:0%;
}
.shp__fontitle{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 5%;
    background: var(--unnamed-color-c1282d) 0% 0% no-repeat padding-box;
    background: #C1282D 0% 0% no-repeat padding-box;
    color:#fff;
    opacity: 1;
}
.shp__title{
    font: var(--unnamed-font-style-normal) normal normal 20px/20px var(--unnamed-font-family-open-sans);
    font: normal normal normal 20px/20px Open Sans;
    top:1.5%;
    left:5%;
    width:60%;
    position: absolute;
}
.shp__cuerpo{
    width:100%;
    height:8%;
}
.shp__cuerporigth{
    width:50%;
    height:8%;
    position:absolute;
}
.shp__cuerporigth__title{
    top: 13%;
    left:5%;
    width: 72px;
    height: 19px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.shp__cuerporigth__sudtitle{
    color:#c1282d;
    top: 50%;
    left: 5%;
    width: 60px;
    height: 19px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    font-weight: bold;
    position: absolute;
}
.shp__cuerpoleft{
    width:50%;
    height:8%;
    left:50%;
    position:absolute;
    top:5.2%;
}
.shp__cuerpolefttitle{
    top: 13%;
    left:83%;
    width: 72px;
    height: 19px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.shp__cuerpoleftsudtitle{
    color:#c1282d;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 19px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    font-weight: bold;
    position: absolute;
}
.shp__cuerpo--env{
    top:50%;
    width: 100%;
    height: 6%;
}
.shp__cuerpo--envrigth{
    width:50%; 
    height:100%;
}
.shp__cuerpo--envrigthttitle{
    left:3%;
    width: 192px;
    height: 179px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.shp__cuerpo--envrigthtsudtitle{
    left: 3%;
    width: 70px;
    height: 19px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.shp__cuerpo--envleft{
    width:50%; 
    margin:-15% 50%; 
    height:100%;
}
.shp__cuerpo--envlefttitle{
    margin-left:50%;
    width: 72px;
    height: 49px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
.shp__cuerpoiv{
    width:100%;
    height:15%;
    margin-top:5%
}
.shp__di{
    position: absolute;
    top: 35%;
    left: 0%;
    width: 100%;
    height: 4%;
    background: #33333370 0% 0% no-repeat padding-box;
    opacity: 1;
}
.shp__dicon{
    top: 25%;
    left: 5%;
    font: normal normal normal 20px/20px Open Sans;
    width: 142px;
    height: 27px;
    background: transparent 0% 0% no-repeat padding-box;
    color:#FFFFFF;
    position: absolute;
    opacity: 1;
}
.shp__dititle{
    top: 25%;
    left: 22%;
    font: normal normal normal 20px/20px Open Sans;
    width: 142px;
    height: 27px;
    background: transparent 0% 0% no-repeat padding-box;
    color:#FFFFFF;
    position: absolute;
    opacity: 1;
}
.shp__en{
    left: 0%;
    width: 100%;
    height: 10%;
    background: #33333370 0% 0% no-repeat padding-box;
    opacity: 1;
}
.shp__encont{
    top: 306px;
    left: 65px;
    width: 846px;
    height: 493px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000012;
    opacity: 1;
}
.shp__enicon{
    top: 1%;
    position: absolute;
    left: 1%;
    width: 30px;
    height: 30px;
    font-size: 40px;
    color:#FFFFFF;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
.shp__entitle{
    top: 2%;
    font: normal normal normal 20px/20px Open Sans;
    color:#FFFFFF;
    left: 143px;
    width: 172px;
    height: 27px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.shp__obse{
    margin:20% 5%;
    width:90%;
    height:50%;
}
.shp__obsetitle{
    top: 2%;
    left: 18%;
    width: 210px;
    height: 22px;
    background: transparent 0% 0% no-repeat padding-box;
    font: normal normal normal 25px/20px Open Sans;
    opacity: 1;
    color:#c1282d;
    position:relative;
}
.shp__obseimput{
    position: relative;
    top: 10%;
    left: -18%;
    width: 430px;
    height: 33px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.shp__obsetext{
    top: 15%;
    left: 18%;
    width: 210px;
    height: 22px;
    background: transparent 0% 0% no-repeat padding-box;
    font: normal normal normal 25px/20px Open Sans;
    opacity: 1;
    color:#c1282d;
    position:relative
}
.shp__obsetexttarea{
    position: absolute;
    top: 57%;
    left: 21%;
    width: 502px;
    height: 64px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.shp__conteentr{
    border: transparent;
    width:100%;
    height:30%;
}
.shp__etrtitle{
    margin-left:5%;
    margin-top:-5%;
    position: absolute;
    width: 100%;
    height: 3%;
    color:#c1282d;
    font: normal normal normal 20px/20px Open Sans;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
.shp__etrcue{
    margin: 6% 5%;
    width: 211px;
    height: 69px;
    border: 1px solid var(--unnamed-color-c1282d);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C1282D;
    opacity: 1;
}
.shp__etrcue1{
    margin: 0% 5%;
    width: 211px;
    height: 69px;
    border: 1px solid var(--unnamed-color-c1282d);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C1282D;
    opacity: 1;
}
.shp__etrtitleret{
    position: absolute;
    margin:2.5% 4%;
    width: 100%;
    height: 3%;
    color:#c1282d;
    font: normal normal normal 20px/20px Open Sans;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.shp__etrmap{
    width:62%;
    height:100%;
    margin:-17% 38%;
}
.shp__etrcon2{
    width:100%;
    height:30%
}
.shp__etrtext{
    width:30%;
    height:100%;
    margin-left:8%;
}
.shp__etrcon3{
    top: 60%;
    left: 0%;
    width: 846px;
    height: 252px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000012;
    position:absolute;
    opacity: 1;
}
.shp__etrdiv{
    width:100%;
    height:400%;
    position: absolute;
    top:-140%;
}
.shp__etrobs{
    top:20%;
    position:absolute;
    width:100%;
    height:100%;
}
.shp__etrobsinput{
    top: 15%;
    left: 166px;
    width: 430px;
    height: 33px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}
.shp__etrobstext{
    top: 44%;
    left: 166px;
    width: 602px;
    height: 64px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}
.shp__pg{
    margin-left: -3%;
    width: 106%;
    height: 15%;
    background: #33333370 0% 0% no-repeat padding-box;
    opacity: 1;
}